html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    180deg,
    rgba(9, 9, 121, 1) 15%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  padding: 2rem;
  width: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper-flex {
  display: flex;
}

.wrapper-center {
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

form {
  display: flex;
  gap: 0.2rem;
  background-color: white;
  padding: 0.4rem;
  border-radius: 2rem;
}

.info-display {
  visibility: hidden;
  opacity: 0;
  transition: all 2s;
}

.info-display.visible {
  visibility: visible;
  opacity: 1;
}

#location {
  border-radius: 2rem;
  border-style: none;
  margin: 0;
  /* width: 30rem; */
  /* TODO this */
  width: auto;
}

#location:focus {
  outline: none;
}

#location.small {
  width: auto;
}

button[type="submit"] {
  color: white;
  border-radius: 2rem;
  border-style: none;
}

.icon {
  margin-top: 2rem;
}

.date {
  font-size: 1.5rem;
}

.city-name {
  margin-top: rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.temperature {
  font-size: clamp(4rem, 10vw, 8rem);
  margin: 2rem 0;
}

.description {
  margin-top: 1rem;
}

/* Not my code */
.loader {
  width: 28px;
  height: 28px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.visible {
  display: block;
}

nav {
  text-align: right;
  padding: 0.1rem;
}

.autocomplete-items {
  position: absolute;
  top: 6.5rem;
  color: #444;
  display: block;
  visibility: collapse;
  text-align: left;
  width: 12rem;
  background-color: #fff;
  border-radius: 0.5rem;
  z-index: 99;
}

.autocomplete-items > div {
  border: 0.1rem solid #444;
  padding: 0.2rem;
}

.autocomplete-items > div:hover {
  background-color: #ddd;
}

.autocomplete-items > div:active {
  background-color: #ccc;
}

.autocomplete-items.visible {
  visibility: visible;
}
